<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h1>Team Name: <%= @ti["name"] %></h1>
 <h3>Coach: <%= @ti["coach"] %></h3>
 <h3>Point Guard: <%= @ti["pg"] %></h3>
 <h3>Shooting Guard: <%= @ti["sg"] %></h3>
 <h3>Power Forward: <%= @ti["pf"] %></h3>
 <h3>Small Forward: <%= @ti["sf"] %></h3>
 <h3>Center: <%= @ti["c"] %></h3>



 </body>
</html>
